<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to add student</h1>

    {% if messages %}

    {% for msg in messages %}
    <p>{{ msg }}</p>

    {% endfor %}

    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}

        <button type="submit">Add_student</button>

    </form>
</body>
</html>